.I_card {
    width: 400px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

th {
    text-align: left;
    background-color: whitesmoke;
}

footer {
    border: 1px solid #000;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;}